<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Виды спорта</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <script>

        function  createSportCard(id,title,logoFile)
        {
            let a = document.createElement("a")
            a.href="../../../../../sportKind/"+id+"/view"

            let card = document.createElement("div")
            card.classList.add("card")
            card.style.margin = "10px"
            card.style.textDecoration="none"
            card.style.width="320px"

            let cardTitle = document.createElement("h5")
            cardTitle.classList.add("card-title")
            cardTitle.innerText = title
            card.appendChild(cardTitle)

            let img = document.createElement("img")
            img.src = logoFile
            img.width=200
            img.classList.add("img-thumbnail")
            card.appendChild(img)

            a.appendChild(card)
            return a;
        }
        function getAllSportKinds()
        {
          let body = document.getElementById("sport-row");//document.getElementsByTagName("body")[0]
          var xhr = new XMLHttpRequest()
          xhr.open("GET","../sportKind/all")
          xhr.responseType="json"
          xhr.send()
          xhr.onload = () => {
              let sports = xhr.response
              for (let key in sports)
              {
                  sport = sports[key]
                  let card = createSportCard(sport["id"], sport["name"], sport["logoFile"])
                  let col = document.createElement("div")
                  col.classList.add("col-sm")
                  col.appendChild(card)
                  body.appendChild(col)
              }
          }
        }

        function addNewSport()
        {
            let div = document.getElementById("addSport")
            let name = div.getElementsByTagName("input")[0].value
            let logo = div.getElementsByTagName("input")[1].value
            let pay = div.getElementsByTagName("select")[0].value

            var xhr = new XMLHttpRequest()
            xhr.open("POST","../sportKind/add?name="+name+"&logoFile="+logo+"&method="+pay)
            alert("../sportKind/add?name="+name+"&logoFile="+logo+"&method="+pay)
            xhr.responseType="json"
            xhr.send()
            xhr.onload = () => {
                getAllSportKinds();
            }
        }

        function unhideBlock()
        {
            document.getElementById("addSport").style.visibility="visible"
        }
    </script>

</head>
<body>
    <div>
        <button class="btn btn-primary" onclick="unhideBlock(); return false;">Добавление вида спорта</button>
    </div>

    <div style="visibility: hidden" id="addSport">
        <form>
            <p>Название вида спорта: </p><input name="name">
            <p>Файл логотипа вида спорта: </p><input name="logoFile">
            <p>Метод оценки вида спорта: </p>
            <select name="payMethod">
                <option value="byStep">По шагам (кол-ву повторений)</option>
                <option value="byMinute">По длительности занятия</option>
                <option value="byDistance">По расстоянию (длительности маршрута)</option>
                <option value="byComplexActions">Сложный метод оценки</option>
            </select>
            <button class="btn btn-primary" onclick="addNewSport(); return false;"></button>
        </form>
    </div>
    <div class="container">
        <div class="row" id="sport-row">

        </div>
    </div>
    <script>
        getAllSportKinds();
    </script>
</body>
</html>