<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}"></title>
    <script>
        function getMonthStat(id)
        {
            var xhr = new XMLHttpRequest()
            xhr.open("GET","../sportKind/"+id+"/byMonthStat")
            xhr.responseType="json"
            xhr.send()
            xhr.onload = () => {
                alert(xhr.response)
            }
        }
    </script>
</head>
<body>
    <h1 th:text="${name}"></h1>
    <img th:src="${logoFile}"/>
    <p>
        Люди в данном виде спорта
    </p>
    <th:block th:each="item: ${employees}">
        <p th:text="${item.firstName}+' '+${item.secondName}"></p>
    </th:block>

    <p th:text="${allSum}"></p>

    <p>Статистика вида спорта по месяцам</p>
    <button th:onclick="'getMonthStat('+${id}+');'">Показать</button>


</body>
</html>